{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<body onload="mostrar1()">

  <div class="mundito">
    <div class="mapa">
      <div class="aparecer1">
        <img src="{% static 'img/icons/Mineria.png' %}" class="img11">
      </div>

      <div class="aparecer3">
        <img src="{% static 'img/icons/Estadistica.png' %}" class="img33">
      </div>

      <div class="aparecer4">
        <img src="{% static 'img/icons/Engranajes.png' %}" class="img44">
      </div>

      <div class="aparecer2">
        <img src="{% static 'img/icons/Perfil.png' %}" class="img22">
      </div>


    </div>
  </div>

  <div class="container" style="background-color:white;">

    <div class="cabeza">
      <h1 class="cabe">Incrementa la eficiencia de tu negocio</h1>
      <p> Estudiamos cada proceso empresarial para ofrecer soluciones eficaces que los impulsen a alcanzar sus
        objetivos.</p>
    </div>

    <!-- cards -->
    <div class="contenidoFlip">
      <div class="flip-containerA">
        <div class="cardABC" >
            <div class="frente">
                <img src=" {% static 'img/icons/consulta.png' %}"
                    class="imgmod">
                <h3>Consultoria Tecnologica</h3>
            </div>
            <div class="dorso">
                <div class="line"></div>
                <p>Analizamos Las Capacidades Productivas De Tu Empresa Y Descubrimos Áreas De Oportunidad.</p>
            </div>
        </div>
    </div>

    <div class="flip-containerA">
      <div class="cardABC">
          <div class="frente">
              <img src=" {% static 'img/icons/tecnologia.png' %}"
                  class="imgmod">
              <h3>Integracion De Soluciones Tecnologicas</h3>
          </div>
          <div class="dorso">
              <div class="line"></div>
              <p>Creamos Soluciones Que Faciliten La Toma De Decisiones Frente A Tu Mercado.</p>
          </div>
      </div>
  </div>

  <div class="flip-containerA">
    <div class="cardABC">
        <div class="frente">
            <img src=" {% static 'img/icons/estadisticas.png' %}"
                class="imgmod">
            <h3>Monitoreo Web De Procesos</h3>
        </div>
        <div class="dorso">
            <div class="line"></div>
            <p>Monitorea Tus Procesos Y Almacena Información Con Datos En La Nube En Tiempo Real.</p>
        </div>
    </div>
</div>

    </div>

    <!-- Fin cards -->

    <div class="general">
      <h1 class="gen1"> Lo que toda empresa necesita alcanzar </h1>
      <p class="gen2"> Analizamos las capacidades productivas de tu empresa para brindar soluciones tecnológicas que
        optimicen cada proceso y faciliten la toma de decisiones frente a tu mercado.</p>
    </div>


    <div class="circulado">

      <!-- contenedor del circulo -->
      <div class="contenedorC">
        <img src="{% static 'img/icons/Poligonos.png' %}" class="circuloimg" alt="">
        <!-- <div class="circulo"></div> -->
      </div>

      <!-- tabla de contenidos -->
      <table class="elementor">
        <tr>
          <td><img src="{% static 'img/icons/cerebro.png' %}" class="img">
          </td>
          <td class="necesidad1">Decisiones en tiempo real</td>
        </tr>
        <tr>
          <td><img src="{% static 'img/icons/lupa.png' %}" class="img"></td>
          <td class="necesidad1">Trazabilidad operativa</td>
        </tr>
        <tr>
          <td><img src="{% static 'img/icons/learning data.png' %}" class="img"></td>
          <td class="necesidad1">Learning data</td>
        </tr>
        <tr>
          <td><img src="{% static 'img/icons/escalabilidad.png' %}" class="img"></td>
          <td class="necesidad1">Escalabilidad</td>
        </tr>
        <tr>
          <td><img src="{% static 'img/icons/procesos.png' %}" class="img"></td>
          <td class="necesidad1">Inteligencia en procesos</td>
        </tr>
        <tr>
          <td><img src="{% static 'img/icons/recursos.png' %}" class="img"></td>
          <td class="necesidad1">Optimización de recursos</td>
        </tr>
      </table>


    </div>

    <!-- Fin CONTENEDOR  -->
  </div>



  <!-- carusel de colaboraciones-->
  <div class="carou">
    <h1 class="carou1"> Hemos colaborado con</h1>
    <div class="marquee-horizontal">
      <div class="marquee-horizontal-css w-embed">
        <style>
          .track-horizontal {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee-horizontal 40s linear infinite;
          }

          @keyframes marquee-horizontal {
            from {
              transform: translateX(0);
            }

            to {
              transform: translateX(-50%);
            }
          }
        </style>
      </div>
      <!-- /../fondo.jpg -->

      <div class="track-horizontal">
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt=""
            class="icon" /></div>
        <div class="icon-container-alt"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" alt=""
            class="icon" /></div>
      </div>
    </div>
  </div>
  <!-- fin carusel de colaboraciones-->




  <div class="container" style="background-color:  white;">

    
    <!-- cards -->
    <div class="containerCards">
      <div class="card">
        <figure>
          <img src=" {% static 'img/icons/consulta.png' %}">
        </figure>
        <div class="contenido">
          <h3>Consultoria Tecnologica</h3>
          <p>Analizamos las capacidades productivas de tu empresa y descubrimos áreas de oportunidad.</p>
        </div>
      </div>

      <div class="card">
        <figure>
          <img src=" {% static 'img/icons/tecnologia.png' %}">
        </figure>
        <div class="contenido">
          <h3>Integracion de soluciones tecnologicas</h3>
          <p> Creamos soluciones que faciliten la toma de decisiones frente a tu mercado. </p>
        </div>
      </div>

      <div class="card">
        <figure>
          <img src=" {% static 'img/icons/estadisticas.png' %}">
        </figure>
        <div class="contenido">
          <h3>Monitoreo web de procesos</h3>
          <p> Monitorea tus procesos y almacena información con datos en la nube en tiempo real. </p>
        </div>
      </div>
    </div>

    <!-- Fin cards -->

    <!-- Formulario-->
    <!-- <section class="form-register"> -->
    <form class="form-register">
      {% csrf_token %}
      <div class="elementos">
        <table>
          <tr>
            <td>
              <h4> Nombre* </h4>
              <input class="controllers" type="text" name="nombre" id="nombreField" placeholder="Ingrese su nombre"
                onkeypress="return ch(event)" required>
            </td>

            <td>
              <h4> Apellidos* </h4>
              <input class="controllers" type="text" name="apellido" id="apellidoField"
                placeholder="Ingrese su apellido" onkeypress="return ch(event)" required>
            </td>
          </tr>

          <tr>
            <td>
              <h4> Correo* </h4>
              <input class="controllers" type="email" name="correo" id="correoField" placeholder="Ingrese su correo"
                required>
            </td>
            <td>
              <h4> Telefono* </h4>
              <input class="controllers" type="tel" name="telefono" id="telefonoField" placeholder="Ingrese su telefono"
                onkeypress="return numb(event)" required>
            </td>
          </tr>

          <tr>
            <td>
              <h4> Empresa* </h4>
              <input class="controllers" type="text" name="nombre" id="empresaField"
                placeholder="Ingrese el nombre de empresa" onkeypress="return ch(event)" required>
            </td>
            <td>
              <h4> Cargo* </h4>
              <input class="controllers" type="text" name="apellido" id="cargoField" placeholder="Ingrese su cargo"
                onkeypress="return ch(event)" required>
            </td>
          </tr>
        </table>

        <h4> Comentarios* </h4>
        <textarea class="controllers" placeholder="Deje su comentario" id="comentariosField"
          onkeypress="return check(event)" required></textarea>

        <!-- <input class="buttons" type="submit" value="Contactanos"> -->
        <button class="buttons" type="submit" onclick="datos()" style="color: white;"> Enviar </button>

      </div>
      <!-- Fin Formulario-->

      <div class="info">
        <h1 class="titt"> Contactanos</h1>
        <p class="tecx"> Puedes localizarnos enviando un mensaje con tu informacion y en breve seras contactado</p>
      </div>
    </form>
    <!-- </section> -->
    <!-- Fin contenedor -->
  </div>

</body>
<script src="{% static 'scripts/jquery.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

  function datos() {

    if (document.getElementById('comentariosField').value == "") {
      console.log("te hace falta llenar los campos")

      Swal.fire(
        'Campos incompletos',
        '¿Te olvidaste de llenar alguno?',
        'question'
      )

    } else {


      $.ajax({
        url: "{% url 'index' %}",
        type: "POST",
        data: {

          'nombre': $('#nombreField').val(),
          'apellidos': $('#apellidoField').val(),
          'correo': $('#correoField').val(),
          'telefono': $('#telefonoField').val(),
          'empresa': $('#empresaField').val(),
          'cargo': $('#cargoField').val(),
          'comentarios': $('#comentariosField').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',

        },
        success: function (data) {
          console.log(data)
          console.log("Success");
        }
      });
    }


  }

</script>

</html>
{% endblock %}